* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}


/* ----------------------------------------   nav    ---------------------------------------*/
body {
    background-image: url("assets/portfoliobackgroundweb-02.png");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
}

.logo img {
    width: 8rem;
    height: auto;
    background-color: #D7D5DCq;
}

.container {
    max-width: 1050px;
    width: 92%;
    margin: auto;

}

.navbar {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #D7D5DC;
    border-radius: 30px;
    margin: 10px;
    margin-left: 7rem;
    padding: 9px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
    background-color: #D7D5DC;

}

.navbar .nav-container a {
    text-decoration: none;
    color: #D7D5DC;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
    text-decoration-line: underline;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D7D5DC;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #2C3142;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    background-color: #D7D5DC;
    border-radius: 30px;
    color: #2C3142;
    height: 28rem;
    width: 10rem;
    transform: translate(-180%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -0.6rem;
    margin-top: 0.1rem;
    padding: 2rem;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    color: #2C3142;
    background-color: #D7D5DC;
    margin-bottom: 1.2rem;
    font-size: 3rem;
    font-weight: 500;
}
.navbar .menu-items li a {
    text-decoration: none;
    color: #2C3142;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    background-color: #D7D5DC;
}


.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}
/* -------------------------------------------   MAIN    ---------------------------------------------------*/

#bigfolio {
 width: 50%;
    margin: 2rem 6rem 1rem 20rem;
}

#dunk {
    width: 40%;
    margin: 2rem 6rem 1rem 24rem;

}

/* --------------------------------------- RESPONSIVITEIT -----------------------------------------------------------*/
/* TELEFOON FORMAAT */
@media screen and (min-width: 160px) and (max-width: 760px) {

    body {
        background-image: url("assets/portfoliobackground02-gsm-08.png");
        background-size: cover;
        background-position: 100%;
        background-repeat: no-repeat;
        min-height: 100vh;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 51px;
        background-color: #D7D5DC;
        border-radius: 30px;
        margin: 11px;
        margin-left: 1rem;
        padding: 15px;
    }

    .navbar .menu-items {
        background-color: #D7D5DC;
        border-radius: 30px;
        color: #2C3142;
        height: 30rem;
        width: 10rem;
        transform: translate(-180%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -0.6rem;
        margin-top: 28rem;
        padding: 2rem;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }


    #bigfolio {
        width: 75%;
        margin: 2rem 3rem 1rem 3rem;
    }

    #dunk {
        width: 60%;
        margin: 1rem 5rem 1rem 5rem;

    }
}




/* IPAD FORMAAT */
@media screen and (min-width: 760px) and (max-width: 1024px)  {

/* navigatie */

    body {
        background-image: url("assets/portfoliobackground02-ipad-07.png");
        background-size: cover;
        background-position: 100%;
        background-repeat: no-repeat;
        min-height: 75vh;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 51px;
        background-color: #D7D5DC;
        border-radius: 30px;
        margin: 2rem;
        margin-left: 2rem;
        padding: 15px;
    }

    .navbar .menu-items {
        background-color: #D7D5DC;
        border-radius: 30px;
        color: #2C3142;
        height: 30rem;
        width: 10rem;
        transform: translate(-180%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -0.6rem;
        margin-top: 28rem;
        padding: 2rem;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    #bigfolio {
        width: 75%;
        margin: 2rem 3rem 1rem 5.5rem;
    }

    #dunk {
        width: 60%;
        margin: 1rem 5rem 1rem 8.5rem;
    }
}

